@model TextCorpusMVC.Models.Text

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

@using (Ajax.BeginForm("HighlightText", new AjaxOptions { UpdateTargetId = "highlightedText" }))
{
    <div>
        <div class="row">
            <div class="col-md-6">
                <h4>Текст</h4>
            </div>
            <div class="col-md-6">
                <h4>Аннотация</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input name="id" hidden="hidden" value="@Model.Id" />
                @Html.DropDownList("tagToHighlight", (IEnumerable<SelectListItem>)ViewBag.TagNames,
                    htmlAttributes: new { style = "width: 100%", @class = "form-control", @onchange = "setLink()"})
                <br />
                <input type="submit" value="Подсветить" class="btn btn-default"/>
                <a href="/" name="downloadLink" OnClick="setLink()">Скачать</a>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6" id="highlightedText">
                @Html.DisplayFor(model => model.Txt)
            </div>
            <div class="col-md-offset-6">
                @foreach (var s in ViewBag.AnnotationStrings)
                {
                    @s
                    <br />
                }
            </div>
        </div>
    </div>
}
<div id="highlightedText"></div>
@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>

