<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Text Corpus System</title>
    <script type="text/javascript">
        function setLink() {
            var tag = document.getElementsByName("tagToHighlight")[0].value;
            var elem = document.getElementsByName("downloadLink")[0];
            var id = document.getElementsByName("id")[0].value;
            var link = "/Text/DownloadRtf?id=" + id + "&tagToHighlight=" + tag;
            elem.setAttribute("href", link);
        }
        function isEmpty(str) {
            return (str == null) || (str.length == 0);
        }
    </script>
    @Scripts.Render("~/scripts/jquery-3.4.1.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Text Corpus System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Тексты", "Index", "Text")</li>
                    <li>@Html.ActionLink("Пользователи", "Index", "User")</li>
                    <li>@Html.ActionLink("Поиск точных форм", "ExactFormSearch", "Query")</li>
                    <li>@Html.ActionLink("Поиск пар лемм", "LemmaPairSearch", "Query")</li>
                    <li>@Html.ActionLink("Поиск пар тегов", "TagPairSearch", "Query")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Text Corpus System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
